@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans JP", "メイリオ", Meiryo, Roboto, Arial, Helvetica, Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Arial, Verdana, sans-serif;
    @apply text-gray-900 text-base;
  }
  @media screen and (max-width: 600px) {
    html {
      overflow-x: hidden;
      width: 100%;
    }
  }

  * {
    box-sizing: border-box;
  }

}

